In [67]:
import os
import sys
# Adding the parent directory of the 'app' directory to the Python path
parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.insert(0, parent_dir)

from app.core.Utilities import Utilities

utilities_functions = Utilities()

from pathlib import Path

import pandas as pd
import seaborn as sns

# Setting the working directory to the root of the project
script_dir = Path(os.getcwd()).resolve()

if script_dir.name == "notebooks":
    print(f"prject dir :: {script_dir.name} ")
    project_dir = script_dir.parent
    print(f"Project dir :: {project_dir}")
else:
    project_dir = script_dir


SOURCEDATA = project_dir / "data"

prject dir :: notebooks
Project dir :: C:\Users\adbou\source\repos\TAM Recommender

In [68]:
#excel files path and import 


deals_df =  pd.read_excel(SOURCEDATA / "Cleaned_Deals.xlsx")

deals_df.head()

,Unnamed: 0,ContentId,Title,FK_StatusId,Deal Type,Description,Location,Points,Categories
0,0,113815,Off from Al Rifai,2,Voucher,Get a 15 KD discount voucher for your next onl...,https://www.google.com/maps/search/al+rifai+ku...,15000,F&B
1,1,113816,Off from Dip n dip,2,Voucher,Get 10 KD off on your next order from Dip n di...,NaN,10000,F&B
2,2,113817,Order from Dip n Dip and get discount,1,Discount,Order from Dip n Dip and get 5KD discount enjo...,https://www.google.com/maps/search/dipndip/@29...,5000,F&B
3,3,113818,Get discount from Ellena Bakery,2,Discount,Get 3KD discount from Ellena Bakery . Ellena b...,https://maps.app.goo.gl/bnZXdfUbbaGFjFiJA,3000,F&B
4,4,113819,Off from Talabat,1,Voucher,Get 3KD discount from Talabat. Talabat is an o...,https://goo.gl/maps/5uoJEdD95W1YSpDt9,3000,F&B

In [69]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   200 non-null    int64
 1   ContentId    200 non-null    int64
 2   Title        200 non-null    object
 3   FK_StatusId  200 non-null    int64
 4   Deal Type    200 non-null    object
 5   Description  200 non-null    object
 6   Location     178 non-null    object
 7   Points       200 non-null    int64
 8   Categories   200 non-null    object
dtypes: int64(4), object(5)
memory usage: 14.2+ KB

## Data Cleaning

In [70]:
columns_to_drop = [
     "Has Predefined Voucher", "Item Ref", "Limit Redemption time", "Limit Redemptions",
    "Is Not Voucher", "Voucher Validity From Date Of Issuance", "Shareable","Priority","Saving",
    "CountDown Offer","Discount","Discount Ar","Instagram","Available","Phone"
]

deals_df = deals_df.drop(columns=columns_to_drop , errors="ignore")

In [71]:
deals_df.head()

,Unnamed: 0,ContentId,Title,FK_StatusId,Deal Type,Description,Location,Points,Categories
0,0,113815,Off from Al Rifai,2,Voucher,Get a 15 KD discount voucher for your next onl...,https://www.google.com/maps/search/al+rifai+ku...,15000,F&B
1,1,113816,Off from Dip n dip,2,Voucher,Get 10 KD off on your next order from Dip n di...,NaN,10000,F&B
2,2,113817,Order from Dip n Dip and get discount,1,Discount,Order from Dip n Dip and get 5KD discount enjo...,https://www.google.com/maps/search/dipndip/@29...,5000,F&B
3,3,113818,Get discount from Ellena Bakery,2,Discount,Get 3KD discount from Ellena Bakery . Ellena b...,https://maps.app.goo.gl/bnZXdfUbbaGFjFiJA,3000,F&B
4,4,113819,Off from Talabat,1,Voucher,Get 3KD discount from Talabat. Talabat is an o...,https://goo.gl/maps/5uoJEdD95W1YSpDt9,3000,F&B

In [72]:
deals_df["Description"] = deals_df["Description"].apply(utilities_functions.remove_html_tags)
# deals_df["Description Ar"] = deals_df["Description Ar"].apply(utilities_functions.remove_html_tags)
# deals_df["Terms"] = deals_df["Terms"].apply(utilities_functions.remove_html_tags)
# deals_df["Terms Ar"] = deals_df["Terms Ar"].apply(utilities_functions.remove_html_tags)

In [73]:
deals_df.head()

,Unnamed: 0,ContentId,Title,FK_StatusId,Deal Type,Description,Location,Points,Categories
0,0,113815,Off from Al Rifai,2,Voucher,Get a 15 KD discount voucher for your next onl...,https://www.google.com/maps/search/al+rifai+ku...,15000,F&B
1,1,113816,Off from Dip n dip,2,Voucher,Get 10 KD off on your next order from Dip n di...,NaN,10000,F&B
2,2,113817,Order from Dip n Dip and get discount,1,Discount,Order from Dip n Dip and get 5KD discount enjo...,https://www.google.com/maps/search/dipndip/@29...,5000,F&B
3,3,113818,Get discount from Ellena Bakery,2,Discount,Get 3KD discount from Ellena Bakery . Ellena b...,https://maps.app.goo.gl/bnZXdfUbbaGFjFiJA,3000,F&B
4,4,113819,Off from Talabat,1,Voucher,Get 3KD discount from Talabat. Talabat is an o...,https://goo.gl/maps/5uoJEdD95W1YSpDt9,3000,F&B

In [74]:
import ollama
def generate_embedding(text):
    if pd.isna(text) or text.strip() == "":
        return None  # Handle missing values
    
    response = ollama.embeddings(model="nomic-embed-text", prompt=text)
    
    return response["embedding"]  # Extract embedding vector

# 🔹 Apply Embeddings to the DataFrame
deals_df["Title_Embedding"] = deals_df["Title"].apply(generate_embedding)
deals_df["Description_Embedding"] = deals_df["Description"].apply(generate_embedding)
deals_df["Categories_Embeddings"] = deals_df["Categories"].apply(generate_embedding)

In [75]:
deals_df.head()

,Unnamed: 0,ContentId,Title,FK_StatusId,Deal Type,Description,Location,Points,Categories,Title_Embedding,Description_Embedding,Categories_Embeddings
0,0,113815,Off from Al Rifai,2,Voucher,Get a 15 KD discount voucher for your next onl...,https://www.google.com/maps/search/al+rifai+ku...,15000,F&B,"[0.9022059440612793, 1.0069472789764404, -2.96...","[0.689183235168457, 1.275989294052124, -3.4839...","[-0.4132610261440277, -0.27970534563064575, -3..."
1,1,113816,Off from Dip n dip,2,Voucher,Get 10 KD off on your next order from Dip n di...,NaN,10000,F&B,"[0.04327250272035599, 0.08832252770662308, -3....","[-0.016640106216073036, 0.9705442190170288, -3...","[-0.4132610261440277, -0.27970534563064575, -3..."
2,2,113817,Order from Dip n Dip and get discount,1,Discount,Order from Dip n Dip and get 5KD discount enjo...,https://www.google.com/maps/search/dipndip/@29...,5000,F&B,"[-0.5816314816474915, 0.43351125717163086, -4....","[-0.4723242521286011, 1.1273787021636963, -4.1...","[-0.4132610261440277, -0.27970534563064575, -3..."
3,3,113818,Get discount from Ellena Bakery,2,Discount,Get 3KD discount from Ellena Bakery . Ellena b...,https://maps.app.goo.gl/bnZXdfUbbaGFjFiJA,3000,F&B,"[0.36706575751304626, 0.6619426608085632, -3.5...","[0.5416721701622009, 1.35929536819458, -4.1918...","[-0.4132610261440277, -0.27970534563064575, -3..."
4,4,113819,Off from Talabat,1,Voucher,Get 3KD discount from Talabat. Talabat is an o...,https://goo.gl/maps/5uoJEdD95W1YSpDt9,3000,F&B,"[0.12790073454380035, -0.36883217096328735, -2...","[0.09143636375665665, 1.24410879611969, -3.788...","[-0.4132610261440277, -0.27970534563064575, -3..."

In [78]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# 🔹 Function to Find Similar Deals
def find_similar_deals(content_id, deals_df, top_n=5):
    """
    Find similar deals based on embeddings.
    
    Args:
        content_id (int): The ContentId of the target deal.
        deals_df (pd.DataFrame): DataFrame containing deals and their embeddings.
        top_n (int): Number of similar deals to return.
        
    Returns:
        pd.DataFrame: A DataFrame with the most similar deals.
    """
    # Ensure embeddings exist in DataFrame
    if "Title_Embedding" not in deals_df or "Description_Embedding" not in deals_df or "Categories_Embeddings" not in deals_df:
        raise ValueError("Embeddings not found. Please generate embeddings first.")
    
    # Find the target row
    target_row = deals_df[deals_df["ContentId"] == content_id]
    
    if target_row.empty:
        raise ValueError(f"No deal found with ContentId {content_id}")
    
    # Extract target embeddings (reshape to 2D for cosine_similarity)
    title_embedding = np.array(target_row["Title_Embedding"].values[0]).reshape(1, -1)
    desc_embedding = np.array(target_row["Description_Embedding"].values[0]).reshape(1, -1)
    cat_embedding = np.array(target_row["Categories_Embeddings"].values[0]).reshape(1, -1)

    # Compute similarity for all deals
    title_embeddings = np.vstack(deals_df["Title_Embedding"].values)
    desc_embeddings = np.vstack(deals_df["Description_Embedding"].values)
    cat_embeddings = np.vstack(deals_df["Categories_Embeddings"].values)

    title_similarities = cosine_similarity(title_embedding, title_embeddings)[0]
    desc_similarities = cosine_similarity(desc_embedding, desc_embeddings)[0]
    cat_similarities = cosine_similarity(cat_embedding, cat_embeddings)[0]

    # Compute final similarity score (weighted average)
    final_similarity = (title_similarities + desc_similarities + cat_similarities) / 3

    # Add similarity scores to DataFrame
    deals_df["Similarity"] = final_similarity

    # Sort by similarity (excluding the target deal)
    similar_deals = deals_df[deals_df["ContentId"] != content_id].sort_values(by="Similarity", ascending=False)

    # Return top similar deals
    return similar_deals.head(top_n)

In [80]:
similar_deals = find_similar_deals(113828, deals_df, top_n=5)
similar_deals

,Unnamed: 0,ContentId,Title,FK_StatusId,Deal Type,Description,Location,Points,Categories,Title_Embedding,Description_Embedding,Categories_Embeddings,Similarity
33,33,113848,10% Off from Atyab,2,Discount,Get 10% off on your next order from Atyab App ...,onelink.to/atyab,500,Retail,"[-0.02784556895494461, -0.05874748155474663, -...","[-0.45537102222442627, 0.520358681678772, -3.6...","[-0.6311226487159729, 0.7220777869224548, -4.6...",0.825809
128,128,113987,15% off from Czar Website,2,Discount,Get 15% off for your next online order from Cz...,https://maps.app.goo.gl/Rtx2iTFvpN1YD2RB7?g_s...,500,Retail,"[-0.23803162574768066, 0.028139514848589897, -...","[-0.8099001049995422, -0.0014485475840047002, ...","[-0.6311226487159729, 0.7220777869224548, -4.6...",0.795914
79,79,113894,20% off from Mode Outfits,2,Discount,Get 20% off on your total receipt from Mode Ou...,"Sharq, Ahmad Al Jaber Street, B8 Tower, Ground...",1000,Retail,"[-0.8527218103408813, -0.18693815171718597, -4...","[-0.5380527377128601, 0.09924840182065964, -4....","[-0.6311226487159729, 0.7220777869224548, -4.6...",0.791765
78,78,113893,20% off from Kalyan Jewellers,2,Discount,Get 20% off on Making charges of Gold Jeweller...,https://www.google.com/maps/search/kalyan+jewe...,1000,Retail,"[-0.36932939291000366, 0.6448655724525452, -3....","[0.5871080756187439, 1.3754585981369019, -4.30...","[-0.6311226487159729, 0.7220777869224548, -4.6...",0.790853
119,119,113976,20% off from Kalyan Jewellers,2,Discount,Get 20% off on Making charges of Gold Jeweller...,https://www.google.com/maps/search/kalyan+jewe...,1000,Retail,"[-0.36932939291000366, 0.6448655724525452, -3....","[0.5871080756187439, 1.3754585981369019, -4.30...","[-0.6311226487159729, 0.7220777869224548, -4.6...",0.790853